<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <!-- it will search style.css on folder public because in app.js: -->
    <!-- app.use(express.static("public")); -->
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1><a href="/">Blog</a></h1>
    <!-- TOPIC: CTRL + K   CRTL + SHIFT + S to save without format -->
    <!-- otherwise it will automatically close the body and html tags -->
  </body>
</html>
