<% include ./partials/header %>

<h2>HOME</h2>

<ul>
  <li><a href="/posts">View Posts</a></li>
  <li><a href="/posts/new">Create New Post</a></li>
  <li><a href="/register">Register User</a></li>
  <li><a href="/login">Log In</a></li>
</ul>

<% include ./partials/footer %>
