<% include ./partials/header %>

<h2>Log In</h2>
<form action="/login" method="post">
  <input type="text" name="email" placeholder="email" />
  <input type="password" name="password" placeholder="password" />
  <input type="submit" value="Log in" />
</form>

<% include ./partials/footer %>
